---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../content/blog/*.md");
---

<Layout title="Freya - GUI Library for Rust">
	{
		posts.map((post) => {
			const formattedDate = new Date(post.frontmatter.date)
				.toLocaleString()
				.split(",")[0];
			return (
				<a
					href={`/posts/${post.frontmatter.slug}`}
					class="bg-custom-dark-gray my-2 block rounded-lg border border-stone-700 p-8 transition-colors delay-[10] hover:border-stone-500">
					<h2 class="m-0">{post.frontmatter.title}</h2>
					<i class="mb-4 block text-stone-500">
						{formattedDate} - {post.frontmatter.author}
					</i>
					<p>{post.frontmatter.description}</p>
				</a>
			);
		})
	}
</Layout>
